{{cha=int(get('charismaMod', 0))}} -d1 "{{cha}}[radiant]"
-f "Mantle of Holiness|Any Bard spell you cast that deals damage and has the verbal spell component, deals extra radiant damage equal to your Charisma modifier on one damage roll gainst one of its targets."