{{lvl=int(get('BardLevel', 0))}}
-d -1d{{floor((lvl-5)/4)*2+6 if BardLevel>=9 else 6}}
-f "Mantle of Holiness|Any spell you cast that restores hit points or removes a condition and has the verbal component also restores additional hit points equal to your Song of Rest die"